<!DOCTYPE html>
<html lang="end">
    <head>
    </head>
    <body>
        <div>
            <h2 style="text-align: center;">{{content.title}}</h2>
        </div>

        <div>
            <p style="text-align: center;">
            {{content.pub_date}} (published)
            </p>
        </div>
        <div style="text-align: center;">
            {{content.information}}            
        </div>
        <button style="float: left; margin-left: 45%;"> <a href="/home/"> return to home </a></button>
    </body>
</html>