{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- club CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>DGIST Club</title>
  </head>

  <body>
    {% block content %}{% endblock %}

  </body>

</html>
